In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("IPL.csv")

In [3]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [4]:
remove_columns = ['striker', 'non-striker', 'mid', 'batsman', 'bowler']
df.drop(labels = remove_columns, axis=1, inplace=True)

In [5]:
df.head()

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222

In [6]:
df['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [7]:
current_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Sunrisers Hyderabad']

In [8]:
df['venue'].unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'Holkar Cricket Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Maharashtra Cricket Association Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Saurashtra Cricket Association Stadium', 'Green Park'],
      dtype=object)

In [9]:
#to see most used stadiums
df['count'] = 1
df.groupby(['venue']).count()['count']

venue
Barabati Stadium                                         856
Brabourne Stadium                                       1380
Buffalo Park                                             380
De Beers Diamond Oval                                    368
Dr DY Patil Sports Academy                              2088
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     1113
Dubai International Cricket Stadium                      868
Eden Gardens                                            7049
Feroz Shah Kotla                                        7068
Green Park                                               492
Himachal Pradesh Cricket Association Stadium            1115
Holkar Cricket Stadium                                   617
JSCA International Stadium Complex                       837
Kingsmead                                               1731
M Chinnaswamy Stadium                                   7443
MA Chidambaram Stadium, Chepauk                         5972
Maharashtra Cricket Association Stadium                 1843
Nehru Stadium                                            499
New Wanderers Stadium                                    995
Newlands                                                 737
OUTsurance Oval                                          251
Punjab Cricket Association IS Bindra Stadium, Mohali    1342
Punjab Cricket Association Stadium, Mohali              4247
Rajiv Gandhi International Stadium, Uppal               5827
Sardar Patel Stadium, Motera                            1484
Saurashtra Cricket Association Stadium                  1229
Sawai Mansingh Stadium                                  4110
Shaheed Veer Narayan Singh International Stadium         742
Sharjah Cricket Stadium                                  744
Sheikh Zayed Stadium                                     836
St George's Park                                         870
Subrata Roy Sahara Stadium                              2086
SuperSport Park                                         1377
Vidarbha Cricket Association Stadium, Jamtha             370
Wankhede Stadium                                        7048
Name: count, dtype: int64

In [10]:
df.drop(labels=['count'], axis=1, inplace=True)

In [11]:
df.head()

,date,venue,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222

In [12]:
current_venues = ['M Chinnaswamy Stadium','Eden Gardens', 'Feroz Shah Kotla', 'MA Chidambaram Stadium, Chepauk',
       'Punjab Cricket Association Stadium, Mohali', 
       'Wankhede Stadium', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal']

In [13]:
df = df[(df['bat_team'].isin(current_teams)) & (df['bowl_team'].isin(current_teams))]

In [14]:
df = df[(df['venue'].isin(current_venues))]

In [15]:
df = df[df['overs']>=5.0]

In [16]:
df['venue'].unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Sawai Mansingh Stadium',
       'MA Chidambaram Stadium, Chepauk', 'Eden Gardens',
       'Rajiv Gandhi International Stadium, Uppal'], dtype=object)

In [17]:
# Converting 'date' from string into datetime object
from datetime import datetime
df['date'] = df['date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))

In [18]:
# --- Data Preprocessing ---
# Converting categorical features using OneHotEncoding method
final_df = pd.get_dummies(data=df, columns=['bat_team', 'bowl_team', 'venue'])

In [19]:
final_df.head()

,date,runs,wickets,overs,runs_last_5,wickets_last_5,total,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,...,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad,venue_Eden Gardens,venue_Feroz Shah Kotla,venue_M Chinnaswamy Stadium,"venue_MA Chidambaram Stadium, Chepauk","venue_Punjab Cricket Association Stadium, Mohali","venue_Rajiv Gandhi International Stadium, Uppal",venue_Sawai Mansingh Stadium,venue_Wankhede Stadium
32,2008-04-18,61,0,5.1,59,0,222,0,0,0,...,1,0,0,0,1,0,0,0,0,0
33,2008-04-18,61,1,5.2,59,1,222,0,0,0,...,1,0,0,0,1,0,0,0,0,0
34,2008-04-18,61,1,5.3,59,1,222,0,0,0,...,1,0,0,0,1,0,0,0,0,0
35,2008-04-18,61,1,5.4,59,1,222,0,0,0,...,1,0,0,0,1,0,0,0,0,0
36,2008-04-18,61,1,5.5,58,1,222,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [20]:
final_df.columns

Index(['date', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'total', 'bat_team_Chennai Super Kings', 'bat_team_Delhi Daredevils',
       'bat_team_Kings XI Punjab', 'bat_team_Kolkata Knight Riders',
       'bat_team_Mumbai Indians', 'bat_team_Rajasthan Royals',
       'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad',
       'bowl_team_Chennai Super Kings', 'bowl_team_Delhi Daredevils',
       'bowl_team_Kings XI Punjab', 'bowl_team_Kolkata Knight Riders',
       'bowl_team_Mumbai Indians', 'bowl_team_Rajasthan Royals',
       'bowl_team_Royal Challengers Bangalore',
       'bowl_team_Sunrisers Hyderabad', 'venue_Eden Gardens',
       'venue_Feroz Shah Kotla', 'venue_M Chinnaswamy Stadium',
       'venue_MA Chidambaram Stadium, Chepauk',
       'venue_Punjab Cricket Association Stadium, Mohali',
       'venue_Rajiv Gandhi International Stadium, Uppal',
       'venue_Sawai Mansingh Stadium', 'venue_Wankhede Stadium'],
      dtype='object')

In [22]:
#rearranging the columns
final_df = final_df[['date','bat_team_Chennai Super Kings', 'bat_team_Delhi Daredevils',
       'bat_team_Kings XI Punjab', 'bat_team_Kolkata Knight Riders',
       'bat_team_Mumbai Indians', 'bat_team_Rajasthan Royals',
       'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad',
       'bowl_team_Chennai Super Kings', 'bowl_team_Delhi Daredevils',
       'bowl_team_Kings XI Punjab', 'bowl_team_Kolkata Knight Riders',
       'bowl_team_Mumbai Indians', 'bowl_team_Rajasthan Royals',
       'bowl_team_Royal Challengers Bangalore',
       'bowl_team_Sunrisers Hyderabad', 'venue_Eden Gardens',
       'venue_Feroz Shah Kotla','venue_M Chinnaswamy Stadium',
       'venue_MA Chidambaram Stadium, Chepauk','venue_Sawai Mansingh Stadium',
       'venue_Punjab Cricket Association Stadium, Mohali',
       'venue_Rajiv Gandhi International Stadium, Uppal',
       'venue_Wankhede Stadium', 'overs','runs', 'wickets', 'runs_last_5', 'wickets_last_5',
       'total']]

In [23]:
final_df.head()

,date,bat_team_Chennai Super Kings,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,bat_team_Kolkata Knight Riders,bat_team_Mumbai Indians,bat_team_Rajasthan Royals,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Chennai Super Kings,...,venue_Sawai Mansingh Stadium,"venue_Punjab Cricket Association Stadium, Mohali","venue_Rajiv Gandhi International Stadium, Uppal",venue_Wankhede Stadium,overs,runs,wickets,runs_last_5,wickets_last_5,total
32,2008-04-18,0,0,0,1,0,0,0,0,0,...,0,0,0,0,5.1,61,0,59,0,222
33,2008-04-18,0,0,0,1,0,0,0,0,0,...,0,0,0,0,5.2,61,1,59,1,222
34,2008-04-18,0,0,0,1,0,0,0,0,0,...,0,0,0,0,5.3,61,1,59,1,222
35,2008-04-18,0,0,0,1,0,0,0,0,0,...,0,0,0,0,5.4,61,1,59,1,222
36,2008-04-18,0,0,0,1,0,0,0,0,0,...,0,0,0,0,5.5,61,1,58,1,222

In [24]:
X_train = final_df.drop(labels='total', axis=1)[final_df['date'].dt.year<=2016]
X_test = final_df.drop(labels='total', axis=1)[final_df['date'].dt.year>=2017]

In [25]:
y_train = final_df[final_df['date'].dt.year<=2016]['total'].values
y_test = final_df[final_df['date'].dt.year>=2017]['total'].values

In [26]:
X_train.drop(labels='date', axis=True, inplace=True)
X_test.drop(labels='date', axis=True, inplace=True)

In [27]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train, y_train)

RandomForestRegressor()

In [28]:
p = rf.predict(X_test)
print(p)

[192.99 193.31 193.8  ... 115.77 115.41 115.18]

In [29]:
print(int(rf.predict([[0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,6.0,41,2,30,1]])[0]))

155

In [30]:
print(int(rf.predict([[0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,5.6,61,1,58,1]])[0]))

206

In [31]:
rf.score(X_test, y_test)

0.5201057149089665

In [1]:
temp_array = list()

print(" ---------------------------------------------- ")
print("|         Choose The Batting Team              |")
print("|  Enter CSK for Chennai Super Kings           |")        
print("|  Enter DD for Delhi Daredevils               |")     
print("|  Enter KP for Kings XI Punjab                |")     
print("|  Enter KKR for Kolkata Knight Riders         |")     
print("|  Enter MI for Mumbai Indians                 |")     
print("|  Enter RR for Rajasthan Royals               |")     
print("|  Enter RCB for Royal Challengers Bangalore   |")     
print("|  Enter SRH for Sunrisers Hyderabad           |")     
print(" ---------------------------------------------- ")

batting_team = input("Enter the Batting Team : ")
batting_team = batting_team.lower()
if batting_team == 'csk':
    temp_array = temp_array + [1,0,0,0,0,0,0,0]
elif batting_team == 'dd':
    temp_array = temp_array + [0,1,0,0,0,0,0,0]
elif batting_team == 'kp':
    temp_array = temp_array + [0,0,1,0,0,0,0,0]
elif batting_team == 'kkr':
    temp_array = temp_array + [0,0,0,1,0,0,0,0]
elif batting_team == 'mi':
    temp_array = temp_array + [0,0,0,0,1,0,0,0]
elif batting_team == 'rr':
    temp_array = temp_array + [0,0,0,0,0,1,0,0]
elif batting_team == 'rcb':
    temp_array = temp_array + [0,0,0,0,0,0,1,0]
elif batting_team == 'srh':
    temp_array = temp_array + [0,0,0,0,0,0,0,1]
    
print(" ---------------------------------------------- ")
print("|         Choose The Bowling Team              |")
print("|  Enter CSK for Chennai Super Kings           |")        
print("|  Enter DD for Delhi Daredevils               |")     
print("|  Enter KP for Kings XI Punjab                |")     
print("|  Enter KKR for Kolkata Knight Riders         |")     
print("|  Enter MI for Mumbai Indians                 |")     
print("|  Enter RR for Rajasthan Royals               |")     
print("|  Enter RCB for Royal Challengers Bangalore   |")     
print("|  Enter SRH for Sunrisers Hyderabad           |")     
print(" ---------------------------------------------- ")

bowling_team = input("Enter the Bowling Team : ").lower()
if bowling_team == 'csk':
    temp_array = temp_array + [1,0,0,0,0,0,0,0]
elif bowling_team == 'dd':
    temp_array = temp_array + [0,1,0,0,0,0,0,0]
elif bowling_team == 'kp':
    temp_array = temp_array + [0,0,1,0,0,0,0,0]
elif bowling_team == 'kkr':
    temp_array = temp_array + [0,0,0,1,0,0,0,0]
elif bowling_team == 'mi':
    temp_array = temp_array + [0,0,0,0,1,0,0,0]
elif bowling_team == 'rr':
    temp_array = temp_array + [0,0,0,0,0,1,0,0]
elif bowling_team == 'rcb':
    temp_array = temp_array + [0,0,0,0,0,0,1,0]
elif bowling_team == 'srh':
    temp_array = temp_array + [0,0,0,0,0,0,0,1]
    
print(" ----------------------------------------------------------- ")
print("|            Choose The Venue                               |")
print("|  Enter MCS for M Chinnaswamy Stadium                      |")        
print("|  Enter EG for Eden Gardens                                |")     
print("|  Enter FSK for Feroz Shah Kotla                           |")     
print("|  Enter CHD for MA Chidambaram Stadium, Chepauk            |")     
print("|  Enter MH for Punjab Cricket Association Stadium, Mohali  |")     
print("|  Enter WS for Wankhede Stadium                            |")     
print("|  Enter SMS for Sawai Mansingh Stadium                     |")     
print("|  Enter RG for Rajiv Gandhi International Stadium, Uppal   |")     
print(" ----------------------------------------------------------- ")

Venue = input("Enter the Venue : ").lower()
if Venue == 'mcs':
    temp_array = temp_array + [1,0,0,0,0,0,0,0]
elif Venue == 'eg':
    temp_array = temp_array + [0,1,0,0,0,0,0,0]
elif Venue == 'fsk':
    temp_array = temp_array + [0,0,1,0,0,0,0,0]
elif Venue == 'chd':
    temp_array = temp_array + [0,0,0,1,0,0,0,0]
elif Venue == 'mh':
    temp_array = temp_array + [0,0,0,0,1,0,0,0]
elif Venue == 'ws':
    temp_array = temp_array + [0,0,0,0,0,1,0,0]
elif Venue == 'sms':
    temp_array = temp_array + [0,0,0,0,0,0,1,0]
elif Venue == 'rg':
    temp_array = temp_array + [0,0,0,0,0,0,0,1]


overs = float(input("Enter the Overs : "))
runs = int(input("Enter the Runs : "))
wickets = int(input("Enter the Wickets : "))
runs_in_prev_5 = int(input("Enter the Runs in previous 5 overs : "))
wickets_in_prev_5 = int(input("Enter the Wickets in previous 5 overs : "))

temp_array = temp_array + [overs, runs, wickets, runs_in_prev_5, wickets_in_prev_5]

data = np.array([temp_array])
my_prediction = int(rf.predict(data)[0])
lower_limit = my_prediction-10
upper_limit = my_prediction+10
print('Predicted Score : ',lower_limit, " - ",upper_limit)

 ----------------------------------------------
|         Choose The Batting Team              |
|  Enter CSK for Chennai Super Kings           |
|  Enter DD for Delhi Daredevils               |
|  Enter KP for Kings XI Punjab                |
|  Enter KKR for Kolkata Knight Riders         |
|  Enter MI for Mumbai Indians                 |
|  Enter RR for Rajasthan Royals               |
|  Enter RCB for Royal Challengers Bangalore   |
|  Enter SRH for Sunrisers Hyderabad           |
 ----------------------------------------------

In [36]:
print(rf.score(X_train, y_train))

0.9959516628909719

In [37]:
print(rf.score(X_test, y_test))

0.5201057149089665

In [1]:
x=list()

In [2]:
type(x)

list